/*  HEADINGS STYLES ========================================================================== */


h1 {
	font-weight: $bold;
	font-size: 36px;
	text-transform: uppercase;
	display: block;
	line-height: 1.2;
	margin-bottom: 20px;

	@media only screen and (min-width: 720px) {
		font-size: 56px;
	}
}
h2 {
	text-transform: capitalize;
	display: block;
	line-height: 1.2;
	font-weight: $semibold;
	font-size: 22px;
	margin-bottom: 40px;
	color: $text-color;

	@media only screen and (min-width: 720px) {
		font-size: 32px;
	}
}
h3 {
	color: $teal;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;

	@media only screen and (min-width: 720px) {
		font-size: 24px;
	}

}
